.dn {
    display: none;
}

:root {
    --red: #d0cece;
    --black: #0e0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

input[type="radio"] {
    display: none;
}

main {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

section.editor-container {
    width: 50%;
    height: 100%;
    background-color: rgb(44, 0, 0);
    color: snow;
    display: flex;
    flex-direction: column;
}

div.editor-header {
    margin-bottom: 5px;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px 0 15px;
    background-color: rgb(11, 0, 0);
    border-bottom: 1px solid rgb(99, 0, 0);
}

div.editor-header label {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}


div.editors {
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(99, 0, 0);
}

.editor-nav, .adder-nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 1px;
}

div.editors textarea {
    tab-size: 4;
    resize: none;
    width: 96%;
    padding: 10px 10px 10px 20px;
    color: snow;
    background-color: rgb(11, 0, 0);
    border-radius: 0;
    outline: 0;
    font-family: 'Roboto Mono', monospace;
}

iframe {
    width: 50%;
    background-color: snow;
}

div.editor-footer {
    padding: 10px;
    background-color: rgb(11,0,0);
    display: flex;
    justify-content: space-between;
}

#run-js {
    display: none;
}

.editor { 
    position: relative;
    tab-size: 4;
    resize: none;
    width: 96%;
    padding: 10px 10px 10px 20px;
    color: snow;
    background-color: rgb(11, 0, 0);
    border-radius: 0;
    outline: 0;
    font-family: 'Roboto Mono', monospace;
}

body div.CodeMirror {
    width: 94%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
}

div.CodeMirror-gutter-elt {
    position: fixed;
    padding-left: 10px;
}

div.cm-s-material.CodeMirror {
    background-color: rgb(11, 0, 0);
}

div.CodeMirror-gutters {
    display: none;
}
/* .CodeMirror-cursors {
    margin-left: 35px;
  }

body div.CodeMirror .CodeMirror-line {
    margin-left: 35px;
} */

input#html-selected:checked ~ div.editors #css-editor,
input#html-selected:checked ~ div.editors #js-editor,
input#html-selected:checked ~ div.editors #script-editor,
input#html-selected:checked ~ div.editors #link-editor { display: none; }
input#html-selected:checked ~ div.editors #html-editor{ display: flex; }
input#html-selected:checked ~ div.editor-footer span#run-js {display:none;}

input#css-selected:checked ~ div.editors #html-editor,
input#css-selected:checked ~ div.editors #js-editor,
input#css-selected:checked ~ div.editors #script-editor,
input#css-selected:checked ~ div.editors #link-editor { display: none; }
input#css-selected:checked ~ div.editors #css-editor{ display: flex; }
input#css-selected:checked ~ div.editor-footer span#run-js {display:none;}

input#js-selected:checked ~ div.editors #css-editor,
input#js-selected:checked ~ div.editors #html-editor,
input#js-selected:checked ~ div.editors #script-editor,
input#js-selected:checked ~ div.editors #link-editor { display: none; }
input#js-selected:checked ~ div.editors #js-editor{ display: flex; }
input#js-selected:checked ~ div.editor-footer span#run-js {display:flex;}


input#link-selected:checked ~ div.editors #css-editor,
input#link-selected:checked ~ div.editors #js-editor,
input#link-selected:checked ~ div.editors #script-editor,
input#link-selected:checked ~ div.editors #html-editor { display: none; }
input#link-selected:checked ~ div.editors #link-editor{ display: flex; }
input#link-selected:checked ~ div.editor-footer span#run-js {display:none;}

input#script-selected:checked ~ div.editors #css-editor,
input#script-selected:checked ~ div.editors #js-editor,
input#script-selected:checked ~ div.editors #html-editor,
input#script-selected:checked ~ div.editors #link-editor { display: none; }
input#script-selected:checked ~ div.editors #script-editor{ display: flex; }
input#script-selected:checked ~ div.editor-footer span#run-js {display:none;}

input#html-selected:checked ~ div.editor-header label[for="html-selected"],
input#css-selected:checked ~ div.editor-header label[for="css-selected"],
input#js-selected:checked ~ div.editor-header label[for="js-selected"],
input#script-selected:checked ~ div.editor-header label[for="script-selected"],
input#link-selected:checked ~ div.editor-header label[for="link-selected"]
{ 
    background-color: rgb(44, 0, 0); 
    border: 1px solid rgb(99, 0, 0);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}


#info-cont {
    position: relative;
}

#info-cont span {
    position: absolute;
    bottom: 100%;
    width: 200px;
    background-color: #fffafad4;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px red;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}

#info-cont i.fa-info-circle:hover ~ span {
    z-index: 1;
    opacity: 1;
}

.player-list {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    display: flex;
    justify-content: space-around;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
}

main.test {
    flex-direction: column;
}

#editor-display {
    height: 85%;
    display: flex;
}

#navbarNavDropdown {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header {
    background-color: var(--black);
    color: var(--red);
    border-bottom: 1px solid;
    font-size: 19px;
    cursor: default;
}

header img {
    width: 135px;
}

header ul {
    justify-content: space-around;
}

header li#opt button {
    padding: 5px;
    border-radius: 40px;
    font-weight: 500;
    color: var(--red);
    background-color: #990000;
    border: 1px solid;
    box-shadow: 0px 0px 4px;
}

main {
    background-color: var(--black);
}

p {
    margin: 0;
}

p.nav-link.dropdown-toggle, p.nav-link.dropdown-toggle.show, p.nav-link.dropdown-toggle:hover {
    color: snow;
}

ul.navbar-nav {
    align-items: center;
}

li.nav-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
